appdirs==1.4.3
distlib==0.3.0
filelock==3.0.12
importlib-metadata==1.6.0
six==1.14.0
virtualenv==20.0.18
zipp==3.1.0
BareNecessities==0.2.8
blinker==1.4
bson==0.5.9
chardet==3.0.4
Click==7.0
DateTime==4.3
dnspython==1.16.0
email-validator==1.0.5
Flask==1.1.1
Flask-Mail==0.9.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
Mail==2.1.0
MarkupSafe==1.1.1
pdf-to-markdown==0.1.0
pdfminer.six==20200124
pycryptodome==3.9.7
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sortedcontainers==2.1.0
Werkzeug==1.0.0
zope.interface==4.7.1